@page "/pagination"
@using System.Net.Http

@inject HttpClient client

@using Newtonsoft.Json
@using Data

<h1>Pagination</h1>

<p>This component demonstrates pagination of the dataset.</p>


@* Next and Previous buttons to navigate through the table  *@
<button class="btn btn-primary" @onclick="Previous"> Previous </button> &nbsp; <button class="btn btn-primary" @onclick="Next"> Next </button> 

<div class="container-fluid">

    <div class="row justify-content-center" style="margin-bottom:50px">
        <h3 class="text-center">Store Apps - Pagination</h3>
    </div>

    <div class="row" style="margin:25px;">
        @if (StoreApps == null) // If statement to show an error message if the dataset isn't available, and what to show in the table if the dataset is available. 
        {
            <p><em>FAILURE</em></p>  
        }
        else
        {
            <table class="table table-bordered table-striped"> @* Table to present the dataset *@
                <thead class="thead-dark">
                    <tr>
                        @*These titles were taken from the SQL database *@
                        <th>Id</th> 
                        <th>Name</th>
                        <th>Rating</th>
                        <th>People</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var storeapp in StoreApps)
                    {
                        if (@StoreApps.IndexOf(storeapp) >= pageStart && StoreApps.IndexOf(storeapp) < pageEnd)
                        {
                            <tr class="justify-content-center">
                                <td>@storeapp.Id</td>
                                <td>@storeapp.Name</td>
                                <td>@storeapp.Rating</td>
                                <td>@storeapp.People</td>
                                <td>@storeapp.Category</td>
                                <td>@storeapp.Date</td>
                                    <td>@storeapp.Price</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div class="justify-content-center">
            </div>
        }
    </div>

</div>

@code {

    string responseBody = "";
    List<StoreApp> StoreApps = new List<StoreApp>();

    protected override async Task OnInitializedAsync()
    {
        var apiName = "api/StoreApps";
        var httpResponse = await client.GetAsync(apiName);

        if (httpResponse.IsSuccessStatusCode)
        {
            responseBody = await httpResponse.Content.ReadAsStringAsync();
            StoreApps = JsonConvert.DeserializeObject<List<StoreApp>>(responseBody);
            StateHasChanged();
        }

    }

    //Declare Variables - how many results to show on each page, how many pages to show. 
    //Attempted to show the exact number of pages needed to display results (5,321 entries in database / 25 results per page) 

    private int pageStart = 0;
    private int pageEnd = 25;
    private int pageSize = 25;
    const int basePage = 0;

    //Method to proceed to next page 
    private void Next()
    {
        if (pageStart <= pageEnd)
        {
            pageStart += pageSize;
            pageEnd += pageSize;
        }//if statement to prevent previous page button working when there is no results to show - not working 
        else
        {
            Console.WriteLine("You have reached the end of the dataset");
        }//else

    }//Next()

    //Method to return to previous page 
    private void Previous()
    {
        if (pageStart >= basePage)
        {
            pageStart -= pageSize;
            pageEnd -= pageSize;

        }
        //if statement to prevent next page button working when there is no results to show - not working 
        else
        {
            Console.WriteLine("You have reached the end of the dataset");
        }
    }//Previous()

}
