@page "/pagination"
@using System.Net.Http

@inject HttpClient client

@using Newtonsoft.Json
@using Data

<h1>Pagination</h1>

<p>This component demonstrates pagination of the databaset.</p>

<p>One way to tackle this problem;</p>
<ul>
    <li>Start with pretty much the same code as FetchStoreApps.razor.</li>
    <li>Add buttons to move between pages of records e.g. 25 records.</li>
    <li>You could take inspiration from Counter.razor (increment and decrement a number).</li>
    <li>You could use this number to control which items in your list are displayed.</li>
    <li>Problems to solve are not going beyond the end of your list and decrementing less than zero.</li>
</ul>

<button class="btn btn-primary" @onclick="Previous"> Previous </button> &nbsp; <button class="btn btn-primary" @onclick="Next"> Next </button>

<div class="container-fluid">

    <div class="row justify-content-center" style="margin-bottom:50px">
        <h3 class="text-center">Store Apps - Pagination</h3>
    </div>

    <div class="row" style="margin:25px;">
        @if (StoreApps == null)
        {
            <p><em>FAILURE</em></p>
        }
        else
        {
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Rating</th>
                        <th>People</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var storeapp in StoreApps)
                    {
                        if (@StoreApps.IndexOf(storeapp) >= pageStart && StoreApps.IndexOf(storeapp) < pageEnd)
                        {
                            <tr class="justify-content-center">
                                <td>@storeapp.Id</td>
                                <td>@storeapp.Name</td>
                                <td>@storeapp.Rating</td>
                                <td>@storeapp.People</td>
                                <td>@storeapp.Category</td>
                                <td>@storeapp.Date</td>
                                    <td>@storeapp.Price</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div class="justify-content-center">
            </div>
        }
    </div>

</div>

@code {

    string responseBody = "";
    List<StoreApp> StoreApps = new List<StoreApp>();

    protected override async Task OnInitializedAsync()
    {
        var apiName = "api/StoreApps";
        var httpResponse = await client.GetAsync(apiName);

        if (httpResponse.IsSuccessStatusCode)
        {
            responseBody = await httpResponse.Content.ReadAsStringAsync();
            StoreApps = JsonConvert.DeserializeObject<List<StoreApp>>(responseBody);
            StateHasChanged();
        }

    }
    private int pageStart = 0;
    private int pageEnd = 25;
    private int pageSize = 25;
    private void Next()
    {
        pageStart += pageSize;
        pageEnd += pageSize;
    }
    private void Previous()
    {
        pageStart -= pageSize;
        pageEnd -= pageSize;

    }

}
