@page "/sort"
@using System.Net.Http

@inject HttpClient client

@using Newtonsoft.Json
@using Data

<h1 class="text-center" >Store Apps Sort</h1>

    <p class = "text-center"><em> This page allows for the sorting of the store apps data by property in ascending and descending order</em></p>

<div class="container-fluid">

    <div class="row justify-content-center" style="margin-bottom:50px">
       
    </div>

    <div class="row" style="margin:25px;">

        @if (StoreApps != null)
        {
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByIdAsc">Id Ascending ||</a>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByIdDesc">Id Descending</a>
                        </th>
                        <th>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByNameAsc">Name Ascending || </a>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByNameDesc">Name Descending</a>
                        </th>
                        <th>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByRatingAsc">Rating Ascending || </a>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByRatingDesc">Rating Descending</a>
                        </th>
                        <th>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByPeopleAsc">People Ascending || </a>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByPeopleDesc">People Descending</a>
                        </th>
                        <th>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByCategoryAsc">Category Ascending || </a>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByCategoryDesc">Category Descending</a>
                        </th>
                        <th>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByDateAsc">Date Ascending ||</a>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByDateDesc">Date Descending</a>
                        </th>
                        <th>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByPriceAsc">Price Ascending ||</a>
                            <a style="color:azure" href="javascript://" @onclick="@SortTableByPriceDesc">Price Descending</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var storeapp in StoreApps)
                    {
                        <tr class="justify-content-center">
                            <td>@storeapp.Id</td>
                            <td>@storeapp.Name</td>
                            <td>@storeapp.Rating</td>
                            <td>@storeapp.People</td>
                            <td>@storeapp.Category</td>
                            <td>@storeapp.Date</td>
                            <td>@storeapp.Price</td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (!StoreApps.Any())
        {
            <div class="justify-content-center">
                <h5>No records to show</h5>
            </div>
        }
    </div>

</div>

@code {

    string responseBody = "";
    List<StoreApp> StoreApps = new List<StoreApp>();



    protected override async Task OnInitializedAsync()
    {
        var apiName = "api/StoreApps";
        var httpResponse = await client.GetAsync(apiName);

        if (httpResponse.IsSuccessStatusCode)
        {
            responseBody = await httpResponse.Content.ReadAsStringAsync();
            StoreApps = JsonConvert.DeserializeObject<List<StoreApp>>(responseBody);
            StateHasChanged();
        }

    }

    //methods to sort by app ID number in both ascending and descending order
    public void SortTableByIdAsc()
    {

        StoreApps.Sort((x, y) => x.Id.CompareTo(y.Id));
    }
    public void SortTableByIdDesc()
    {

        StoreApps.Sort((x, y) => y.Id.CompareTo(x.Id));


        //methods to sort by app Name in both ascending and descending order
    }
    public void SortTableByNameAsc()
    {
        StoreApps.Sort((x, y) => x.Name.CompareTo(y.Name));

    }
    public void SortTableByNameDesc()
    {

        StoreApps.Sort((x, y) => y.Name.CompareTo(x.Name));
    }

    //methods to sort by Rating in both ascending and descending order
    public void SortTableByRatingAsc()
    {
        StoreApps.Sort((x, y) => x.Rating.CompareTo(y.Rating));

    }
    public void SortTableByRatingDesc()
    {

        StoreApps.Sort((x, y) => y.Rating.CompareTo(x.Rating));
    }

    //methods to sort by amount of People that rated in both ascending and descending order
    public void SortTableByPeopleAsc()
    {
        StoreApps.Sort((x, y) => x.People.CompareTo(y.People));

    }
    public void SortTableByPeopleDesc()
    {

        StoreApps.Sort((x, y) => y.People.CompareTo(x.People));
    }

    //methods to sort by app Category in both ascending and descending order
    public void SortTableByCategoryAsc()
    {
        StoreApps.Sort((x, y) => x.Category.CompareTo(y.Category));

    }
    public void SortTableByCategoryDesc()
    {

        StoreApps.Sort((x, y) => y.Category.CompareTo(x.Category));
    }

    //methods to sort by Date app was registered in both ascending and descending order
    public void SortTableByDateAsc()
    {
        StoreApps.Sort((x, y) => x.Date.CompareTo(y.Date));

    }
    public void SortTableByDateDesc()
    {

        StoreApps.Sort((x, y) => y.Date.CompareTo(x.Date));
    }

    //methods to sort by Price of each app in both ascending and descending order
    public void SortTableByPriceAsc()
    {
        StoreApps.Sort((x, y) => x.Price.CompareTo(y.Price));

    }
    public void SortTableByPriceDesc()
    {

        StoreApps.Sort((x, y) => y.Price.CompareTo(x.Price));
    }

}